<h1>Editing private link</h1>

<%= form_with(model: @private_link) do |form| %>
  <%= render 'links/form', form: form %>
<% end %>

<br>

<div>
  <%= link_to "Show this private link", @private_link %> |
  <%= link_to "Back to private links", private_links_path %>
</div>
