<h1>Tus Enlaces</h1>

<h2>Enlaces Regulares</h2>
<%= render_links(@regular_links) %>

<h2>Enlaces Temporales</h2>
<%= render_links(@temporal_links) %>

<h2>Enlaces Privados</h2>
<%= render_links(@private_links) %>

<h2>Enlaces Efímeros</h2>
<%= render_links(@ephemeral_links) %>
