<p style="color: green"><%= notice %></p>

<h1>Ephemeral links</h1>

<div id="ephemeral_links">
  <% @ephemeral_links.each do |ephemeral_link| %>
    <%= render partial: 'links/link', locals: { link: ephemeral_link, is_index_view: true } %>
  <% end %>
</div>

<%= paginate @ephemeral_links %>
