<p style="color: green"><%= notice %></p>

<h1>Links Efímeros</h1>
<%= render partial: 'links/go_back', locals: { go_back_url: root_path } %>
<div id="ephemeral_links">
  <% @ephemeral_links.each do |ephemeral_link| %>
    <%= render partial: 'links/link', locals: { link: ephemeral_link, is_index_view: true } %>
  <% end %>
</div>

<%= paginate @ephemeral_links %>
