<h1>Nuevo link efímero</h1>
<%= render partial: 'links/go_back', locals: { go_back_url: @new_go_back } %>
<%= form_with(model: @ephemeral_link) do |form| %>
  <%= render 'links/form', form: form %>
<% end %>

<br>
