<h1>Editing regular link</h1>

<%= render "form", regular_link: @regular_link %>

<br>

<div>
  <%= link_to "Show this regular link", @regular_link %> |
  <%= link_to "Back to regular links", regular_links_path %>
</div>
