<p style="color: green"><%= notice %></p>

<h1>Regular links</h1>
<%= link_to "New regular link", new_regular_link_path %>

<div id="regular_links">
  <% @regular_links.each do |regular_link| %>
    <%= render partial: 'links/link', locals: { link: regular_link } %>
  <% end %>
</div>

<%= paginate @regular_links %>
