<h1>New regular link</h1>

<%= form_with(model: @regular_link) do |form| %>
  <%= render 'links/form', form: form %>
<% end %>

<br>

<div>
  <%= link_to "Back to regular links", regular_links_path %>
</div>
