<div>
  <%= form.label :name, style: "display: block" %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :destination_url, style: "display: block" %>
  <%= form.text_field :destination_url %>
</div>