<div>
  <%= form.label :nombre, style: "display: block" %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :url, style: "display: block" %>
  <%= form.text_field :destination_url %>
</div>