<h1>Editar Link</h1>
<%= render partial: 'links/partials/go_back', locals: { go_back_url: @edit_go_back } %>
<%= form_with(model: @link, url: link_path(@link), method: :patch, local: true, scope: :link) do |form| %>
  <%= render 'links/partials/form', form: form %>
<% end %>

