<h1>Editar link</h1>
<%= render partial: 'links/partials/go_back', locals: { go_back_url: @edit_go_back } %>
<%= form_with(model: @link, url: links_path(type: @type)) do |form| %>
  <%= render 'links/partials/form', form: form %>
<% end %>

<br>
