<% case @type %>
  <% when 'RegularLink' %>
    <h1>Nuevo link regular</h1>
  <% when 'TemporalLink' %>
    <h1>Nuevo link temporal</h1>
  <% when 'PrivateLink' %>
    <h1>Nuevo link privado</h1>
  <% when 'EphemeralLink' %>
    <h1>Nuevo link efímero</h1>
  <% end %><%= render partial: 'links/partials/go_back', locals: { go_back_url: @new_go_back } %>
<%= form_with(model: @link, url: links_path(type: @type, new_go_back: @new_go_back), method: :post, scope: :link) do |form| %>
  <%= render 'links/partials/form', form: form %>
<% end %>

