<h1>Nuevo Link</h1>
<%= render partial: 'links/partials/go_back', locals: { go_back_url: @new_go_back } %>
<%= form_with(model: @link, url: links_path(type: @type), method: :post) do |form| %>
  <%= render 'links/partials/form', form: form %>
<% end %>
