<h1>Detalle</h1>
<p style="color: green"><%= notice %></p>
<%= render partial: 'links/go_back', locals: { go_back_url: links_path } %>
<%= render partial: 'links/link', locals: { link: @link, is_index_view: false} %>



