<%= form_with(model: temporal_link) do |form| %>
  <%= render 'links/form', form: form do |f| %>
  <% end %>
  <div>
    <%= form.label :expiration_date, style: "display: block" %>
    <%= form.datetime_field :expiration_date %>
  </div>
<% end %>