<h1>Editing temporal link</h1>

<%= render "form", temporal_link: @temporal_link %>

<br>

<div>
  <%= link_to "Show this temporal link", @temporal_link %> |
  <%= link_to "Back to temporal links", temporal_links_path %>
</div>
