<h1>Editing temporal link</h1>

<%= form_with(model: @temporal_link) do |form| %>
  <%= render 'links/form', form: form %>
<% end %>

<br>

<div>
  <%= link_to "Show this temporal link", @temporal_link %> |
  <%= link_to "Back to temporal links", temporal_links_path %>
</div>
