<p style="color: green"><%= notice %></p>

<h1>Temporal links</h1>
<%= link_to "New temporal link", new_temporal_link_path %>

<div id="temporal_links">
  <% @temporal_links.each do |temporal_link| %>
    <%= render partial: 'links/link', locals: { link: temporal_link } %>
  <% end %>
</div>

<%= paginate @temporal_links %>
