<p style="color: green"><%= notice %></p>

<h1>Temporal links</h1>

<div id="temporal_links">
  <% @temporal_links.each do |temporal_link| %>
    <%= render partial: 'links/link', locals: { link: temporal_link, is_index_view: true} %>
  <% end %>
</div>

<%= paginate @temporal_links %>
