<h1>New temporal link</h1>

<%= form_with(model: @temporal_link) do |form| %>
  <%= render 'links/form', form: form %>
<% end %>

<br>

<div>
  <%= link_to "Back to temporal links", temporal_links_path %>
</div>
